<div>
  <mat-form-field class="dateMargin">
    <input matInput [matDatepicker]="startPicker" placeholder="Choose a Starting Date">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="dateMargin btnMargin">
    <input matInput [matDatepicker]="endPicker" placeholder="Choose an Ending Date">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>
</div>

